.pet-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pet-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
}

.pet-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.pet-photo {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

h1 {
  margin-bottom: 20px;
}

.box {
  border-style: double;
  padding: 20px;
}
